node_modules
dist
build
*.tsbuildinfo
coverage
.DS_Store
.env
.env.local
.env.*.local
*.log
.turbo
.vite
.idea
.vscode/*
!.vscode/extensions.json
apps/desktop/src-tauri/target
apps/desktop/src-tauri/gen
apps/desktop/src-tauri/WixTools
*.pdb
.pnpm-store
